<div class="actions-box">
  <button class="button-primary-circle" (click)="OnAddQuali()">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus"
      viewBox="0 0 16 16">
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </svg>
  </button>
  <app-search class="search-box" (searchTermChanged)="onSearchTermEntered($event)"></app-search>
</div>
<div class="quali-list" *ngFor="let q of qualifications$">
  <app-qualification-entry class="flex-entry" [quali]="q" (delete)="OnDelete(q)"
    *ngIf="search(q)"></app-qualification-entry>
</div>



<dialog id="confirmDeleteDialog" class="dialog-panel">
  <div class="dialog-text">{{qualificationToDelete.designation}} wirklich entfernen?</div>
  <div class="dialog-button-row">
    <button class="dialog-button-cancel" (click)="OnDeleteCancel()">Nein</button>
    <button class="dialog-button-confirm" (click)="OnDeleteConfirm()">Ja</button>
  </div>
</dialog>

<dialog id="confirmAddDialog" class="dialog-panel">
  <div class="dialog-text">Neue Qualifikation hinzufügen:
    <input class="text-box" [(ngModel)]="qualification.designation">
  </div>
  <div class="dialog-button-row">
    <button class="dialog-button-cancel" (click)="OnSaveCancel()">Abbrechen</button>
    <button class="dialog-button-confirm" (click)="OnSaveConfirm()">Speichern</button>
  </div>
</dialog>