.delete-success {
    display: block;
}

.quali-list {
    width: 100%;
    border: none;
    display: flex;
    gap: .2rem;
}

.flex-entry {
    flex-grow: 1;
}

.quali-content {
    border: none;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 2.3rem;
    background-color: var(--primary);
    color: #ffffff;
    font-weight: 500;
    border-radius: .4rem 0 0 .4rem;
}

.quali-view-delete {
    background: var(--danger);
    width: 3rem;
    height: 2.3rem;
    padding-left: .2rem;
    color: white;
    border-radius: 0 .4rem .4rem 0;
    border: none;
}