.btn {
  padding-bottom: .6rem;
}

.list-wrapper {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.head-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.head-wrapper button {
  margin-left: .5rem;
}

h2 {
  margin-top: 1rem;
  font-weight: 700;
}

.employee-card {
  margin-bottom: 0.3rem;
  border-radius: .5rem;
  border: 2px solid var(--black);
  min-height: 4.5rem;
  background-color: var(--secondary-light);
  box-shadow: 5px 5px 0 var(--black);
  margin-bottom: .5rem;
  max-width: 30rem;
  min-width: 20rem;
}



.employee-card-name {
  background-color: var(--white);
  border-radius: .4rem .4rem 0 0;
  padding: 0 .7rem 0 .7rem;
  display: flex;
  padding: .5rem;
  flex-direction: row;
  justify-content: space-between;
  color: #000;
}

.employee-card-qualification {
  margin: 0 .7rem 0 .7rem;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 .4rem .4rem;
}


.employee-card-arrow {
  /* position: absolute;
  right: 1.5rem;
  width: 3rem; */
  color: var(--primary);
}


.divide-line {
  border-bottom: 2px solid var(--black);
  margin: 0;
}

.tag {
  background-color: var(--primary);
  box-shadow: 3px 3px 0 var(--black);
  color: #fff;
  border-radius: .3rem;
  font-size: small;
  font-weight: bold;
  padding: .1rem .3rem .1rem .3rem;

}