<app-navigation-header [navBackPath]="" [header]="'Mitarbeiter'"></app-navigation-header>
<section class="list-wrapper">
  <div class="head-wrapper">
    <form class="d-flex" role="search">

      <!-- TODO: Search functionality -->
      <input (change)="$event" class="form-control me-2" type="search" placeholder="Suchen" aria-label="Search">
      <button class="btn btn-primary" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
      </button>
      <a routerLink="/employees/create" routerLinkActive="active">
        <button class="btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-person-plus-fill" viewBox="0 0 16 16">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
            <path fill-rule="evenodd"
              d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
          </svg>
        </button>
      </a>
    </form>

  </div>
  <h2>Alle Mitarbeiter</h2>
  <div class="employee-card card-fade-in" *ngFor="let e of employees$ | async">
    <app-employee-list-entry [employee]="e"></app-employee-list-entry>
  </div>
</section>