.btn {
  padding-bottom: .6rem;
}

.employee-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5rem 1rem;
}

.employee-card-list>div {
  flex-grow: 1;
  flex-basis: 0;
}

.employee-card-list::after {
  content: "";
  flex: 1;
}

.actions-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.actions-box app-search {
  flex-grow: 1
}

.search-box {
  min-height: 1.3rem;
  flex-grow: 1;
}

.card-list {
  opacity: 1;
  animation: fadeIn 0.75s;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: .8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes entryLeft {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes entryRight {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0);
  }
}

.card-list:nth-child(even) {
  animation: entryRight 750ms;
  animation-fill-mode: backwards;
}

.card-list:nth-child(odd) {
  animation: entryLeft 750ms;
  animation-fill-mode: backwards;
}

.card-list:nth-child(1) {
  animation-delay: calc(0.05s * 1);
}

.card-list:nth-child(2) {
  animation-delay: calc(0.05s * 2);
}

.card-list:nth-child(3) {
  animation-delay: calc(0.05s * 3);
}

.card-list:nth-child(4) {
  animation-delay: calc(0.05s * 4);
}

.card-list:nth-child(5) {
  animation-delay: calc(0.05s * 5);
}

.card-list:nth-child(6) {
  animation-delay: calc(0.05s * 6);
}

.card-list:nth-child(7) {
  animation-delay: calc(0.05s * 7);
}

.card-list:nth-child(8) {
  animation-delay: calc(0.05s * 8);
}

.card-list:nth-child(9) {
  animation-delay: calc(0.05s * 9);
}

.card-list:nth-child(10) {
  animation-delay: calc(0.05s * 10);
}

.card-list:nth-child(11) {
  animation-delay: calc(0.05s * 11);
}