.employee-field {
  width: 100%;
  margin-bottom: 0.3rem;
  background-color: var(--white);
  border-radius: .5rem;
  min-height: 5.5rem;
  box-shadow: 5px 5px 0 var(--black);
  margin-bottom: 1rem;
}

.employee-section {
  border-top: .2rem solid var(--black);
  border-right: .2rem solid var(--black);
  border-left: .2rem solid var(--black);
  border-radius: .5rem .5rem 0 0;
  padding: .5rem;

}

.card-bottom {
  background-color: var(--secondary-light);
  border: .2rem solid var(--black);
  border-radius: 0 0 .5rem .5rem;
  padding: .5rem;
}

.card-bottom-head {
  font-weight: 800;
  color: var(--secondary-text);
}

.input-head {
  color: #666;
  font-weight: 800;
}

.detail-view-field {
  border-radius: .4rem;
  border: 2px solid var(--black);
  padding: .3rem;
}

.disabled-detail-view-field {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: 20px;
  color: #000;
  width: 100%;
  cursor: default;
  background-color: #fff;
}

.disabled-detail-view-field-badge {
  background-color: var(--primary);
  color: #ffffff;
}

.detail-view-delete {
  padding-top: .2rem;
  color: white;
  border: none;
  background: none
}

.marked-delete>button {
  text-decoration: line-through;
  color: white;
}

.detail-view-delete:hover {
  background: var(--warning);
}

.detail-view-quali {
  margin: auto;
  width: 100%;
  height: 2.3rem;
  color: blue;
  border-radius: 2rem;
}

.quali-wrap {
  display: flex;
  max-width: 80%;
  border-radius: .4rem;
}

.quali-entry {
  width: 100%;
  border: none;
  display: flex;
  height: 2.3rem;
  background-color: var(--primary);
  border-radius: .4rem;
  border: 3px solid var(--black);
  border-radius: .4rem;
  margin-bottom: .5rem;
  box-shadow: 3px 3px 0 var(--black);
}

.quali-entry-content {
  flex-grow: 1;
  text-align: left;
  color: #ffffff;
  font-weight: bolder;
  border: none;
  background: none;
  /* border: none;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
  width: 100%;
  height: 2.3rem;
  background-color: var(--primary);
  color: #ffffff;
  font-weight: bolder;
  border-radius: .4rem 0 0 .4rem; */
}

.quali-entry-content:disabled {
  background: none;
}

.quali-select {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
  margin-bottom: 1rem;
}

.quali-select>select {
  width: 100%;
  height: 2.3rem;
  border: .2rem solid var(--black);
  border-radius: .4rem;
  padding: .3rem;
}