<div class="container">
  <div class="employee-field">
    <div class="employee-section">

      <div class="p-2">
        <div class="input-head">Vorname</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.firstName">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.firstName" disabled>
      </div>
      <div class="p-2">
        <div class="input-head">Nachname</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.lastName">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.lastName" disabled>
      </div>
      <div class="p-2">
        <div class="input-head">Straße</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.street">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.street" disabled>
      </div>
      <div class="d-flex">
        <div class="p-2 w-25">
          <div class="input-head">PLZ</div>
          <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.postcode">
          <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.postcode" disabled>
        </div>
        <div class="p-2 w-75">
          <div class="input-head">Ort</div>
          <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.city">
          <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.city" disabled>
        </div>
      </div>
      <div class="p-2">
        <div class="input-head">Telefon</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.phone">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.phone" disabled>
      </div>
    </div>
    <div class="card-bottom">

      <div class="card-bottom-head">Qualifikationen</div>
      <div class="qualification-field">
        <div class="quali-select" *ngIf="!disableEdit">
          <select (change)="selected($event)">
            <option value=""></option>
            <option *ngFor="let quali of qualificationOptions | async" [value]="quali.designation">
              {{quali.designation}}
            </option>
          </select>
          <button class="button button-primary" (click)="addQualification()">
            Hinzufügen
          </button>
        </div>
        <div class="quali-list">

          <app-qualification-entry class="flex-entry" *ngFor="let quali of employeeQualifications" [quali]="quali"
            [mode]="'mark'" [disableEdit]="disableEdit"></app-qualification-entry>
        </div>

      </div>
    </div>
  </div>
</div>