<div class="container">
  <div class="employee-field">
    <div class="employee-section">

      <div class="p-2">
        <div class="input-head">Vorname</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.firstName">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.firstName" disabled>
      </div>
      <div class="p-2">
        <div class="input-head">Nachname</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.lastName">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.lastName" disabled>
      </div>
      <div class="p-2">
        <div class="input-head">Straße</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.street">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.street" disabled>
      </div>
      <div class="d-flex">
        <div class="p-2 w-25">
          <div class="input-head">PLZ</div>
          <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.postcode">
          <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.postcode" disabled>
        </div>
        <div class="p-2 w-75">
          <div class="input-head">Ort</div>
          <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.city">
          <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.city" disabled>
        </div>
      </div>
      <div class="p-2">
        <div class="input-head">Telefon</div>
        <input *ngIf="!disableEdit" class="text-box" [(ngModel)]="employee.phone">
        <input *ngIf="disableEdit" class="disabled-detail-view-field" [(ngModel)]="employee.phone" disabled>
      </div>
    </div>
    <div class="card-bottom">

      <div class="card-bottom-head">Qualifikationen</div>
      <div class="qualification-field">
        <div class="quali-select" *ngIf="!disableEdit">
          <select (change)="selected($event)">
            <option *ngFor="let quali of qualificationOptions | async" [value]="quali.designation">
              {{quali.designation}}
            </option>
          </select>
          <button class="button-primary" (click)="addQualification()">
            Hinzufügen
          </button>
        </div>

        <!-- <input *ngIf="!disableEdit" class="w-50" [(ngModel)]="employee.city" disabled> -->

        <div class="d-flex mb-1" *ngFor="let quali of employeeQualifications">


          <div class="quali-entry">
            <button class="quali-entry-content" [disabled]="disableEdit">
              {{quali.designation}}
            </button>
            <div *ngIf="!disableEdit">
              <button class="detail-view-delete" (click)="MarkDelete($event, quali)">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                  class="bi bi-x-circle-fill delete-svg" viewBox="0 0 16 16">
                  <path
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>