.navigation-header {
  background-color: var(--primary);
  color: var(--primary-text);
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headline {
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
}

.button-header {
  width: 5rem;
  height: 3rem;
  background-color: var(--primary);
  border: none;
  color: #fff;
}

.button-header:hover {
  background-color: var(--primary-light);
}