<app-navigation-header [navBackPath]="'/'" [header]="'Mitarbeiter Portal'"></app-navigation-header>
<div class="tab-header header-end">
    <button id="employee-tab-button" class="button-tab button-tab-active"
        (click)="OnTabClicked($event, 'employee')">Mitarbeiter</button>
    <button id="qualification-tab-button" class="button-tab"
        (click)="OnTabClicked($event, 'qualification')">Qualifikationen</button>
</div>
<div class="main-view container">
    <app-employee-list id="employee-list" class="visible container"
        [qualificationOptions]="allQualifications"></app-employee-list>
    <app-qualification-list id="qualification-list" class="hidden container" [qualifications$]="allQualifications"
        (qualificationChange)="allQualifications=$event"></app-qualification-list>
</div>