/* You can add global styles to this file, and also import other style files */
.app-body {
    background-color: #efefef
}

.container {
    width: 90%;
    margin: 0 auto;
}

.button-primary {
    background-color: var(--primary);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.button-secondary {
    background-color: var(--secondary);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.button-confirm {
    background-color: var(--success);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.button-delete {
    background-color: var(--danger);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.text-box {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.5rem;
    width: 100%;
}

.header-end {
    margin-bottom: 1rem;
}

body {
    font-family: Whyte, sans-serif !important;
    margin: 0;
}

button {
    font-size: medium;
}

:root {
    --primary: #109cec;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
    --danger-hover: #c82333;
    --light: #f8f9fa;
    --dark: #212529;
    --white: #fff;


}