/* You can add global styles to this file, and also import other style files */
.app-body {
    background-color: var(--white);
}

.button-primary {
    background-color: var(--primary);
    border: .2rem solid var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.button-secondary {
    background-color: var(--secondary);
    border: none;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 50%;
}

.button-confirm {
    background-color: var(--tertiary);
    border: .2rem solid var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

:root {
    --primary: #f26202;
    --primary-light: #f7a35c;
    --secondary: #c22975;
    --secondary-light: #f15c80;
    --tertiary: #24888a;
    --tertiary-light: #6eb3b5;
    --white: #fefffc;
    --black: #030000;


}

body {
    font-family: Whyte, sans-serif !important;
    font-weight: 500;
}