/* You can add global styles to this file, and also import other style files */
.app-body {
    background-color: var(--white);
}

.container {
    width: 90%;
    margin: 0 auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.button-primary {
    background-color: var(--primary);
    border: .2rem solid var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.button-primary:hover {
    background-color: var(--primary-light);
}

.button-primary-circle {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 2px solid var(--black);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    box-shadow: 3px 3px 0 var(--black);
}

.button-primary-circle:hover {
    background-color: var(--primary-light);
}

.button-primary-circle:active {
    box-shadow: none;
    transform: translateY(3px) translateX(3px);

}

.button-secondary {
    background-color: var(--secondary);
    border: none;
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 50%;
}

.button-confirm {
    background-color: var(--tertiary);
    border: .2rem solid var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}

.button-delete {
    background-color: var(--danger);
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.text-box {
    border: 2px solid var(--black);
    border-radius: 0.3rem;
    box-shadow: 3px 3px 0 var(--black);
    padding: .5rem;
    width: 100%;
    font-size: medium;
}

.header-end {
    margin-bottom: 1rem;
    border-bottom: 3px solid var(--black);
}

.p-2 {
    padding: 0.5rem;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.d-flex {
    display: flex;
}

body {
    font-family: Whyte, sans-serif !important;
    margin: 0;
}

button {
    font-size: medium;
}

:focus-visible {
    outline: none;
}

:root {
    --secondary: #FF6B35;
    --secondary-light: #F7C59F;
    --secondary-text: var(--white);


    --primary: #004E89;
    --primary-light: #1A659E;
    --primary-text: var(--white);

    --black: #011627;
    --white: #FDFFFC;


}

* {
    box-sizing: border-box;
}