<app-navigation-header [navBackPath]='"/employeeservice"' [header]="'Mitarbeiter'"></app-navigation-header>
<div class="tab-header header-end"></div>
<div *ngIf="(employee |async)">
    <app-employee-details [employee]="this.emp" [employeeQualifications]="this.employeeQualifications"
        [disableEdit]="this.disableEdit"></app-employee-details>
</div>
<div class="d-flex flex-row-reverse container">
    <button class="button-confirm" *ngIf="!disableEdit" (click)="OnSave()">Speichern</button>
    <button class="button-delete" *ngIf="!disableEdit" (click)="OnDelete()">Löschen</button>
    <button class="button-primary" *ngIf="disableEdit" (click)="OnEdit()">Bearbeiten</button>
    <div class="mx-auto"></div>
    <button class="button-primary" *ngIf="!disableEdit" (click)="OnCancel()">Abbrechen</button>
</div>


<div id="confirmDeleteDialog" [className]="dialogClass">
    <div class="dialog-panel">
        <div>Möchten Sie die Mitarbeiter:in wirklich entfernen?</div>
        <div class="d-flex">
            <button class="btn btn-primary" (click)="OnDeleteCancel()">Nein</button>
            <div class="mx-auto"></div>
            <button class="btn btn-danger" (click)="OnDeleteConfirm()">Ja</button>
        </div>
    </div>
</div>