<div class="home-header header-end">
  <div class="home-container container">


    <span class="headline">Portale</span>


  </div>
</div>

<div class="home-container">
  <section class="portal-container">
    <a routerLink="/employeeservice" routerLinkActive="active"><button class="button button-primary">Mitarbeiter
        Portal</button></a>
    <a routerLink="/qualifications" routerLinkActive="active">
      <button disabled class="button button-primary">Projekte Portal</button></a>
    <span class="spacer"></span>
    <button class="button button-delete" *ngIf="isLoggedIn" type="button" (click)="logout()">Abmelden</button>
    <button class="button button-confirm" *ngIf="!isLoggedIn" type="button" (click)="login()">Anmelden</button>
  </section>

</div>