<div class="home-container">
  <app-navigation-header></app-navigation-header>
  <section class="portal-container" *ngIf="userProfile">
    <h2>Mitarbeiter-Portal</h2>
    <a routerLink="/employees" routerLinkActive="active"><button class="button-primary">Mitarbeiter</button></a>
    <span class="spacer"></span>
    <a routerLink="/qualifications" routerLinkActive="active"><button
        class="button-primary">Qualifikationen</button></a>
  </section>
  <button class="btn btn-danger btn-logout" *ngIf="isLoggedIn" type="button" (click)="logout()">Abmelden</button>

  <section class="start-container">
    <h2 *ngIf="!isLoggedIn">Mitarbeiter-Portal</h2>
    <button class="btn btn-success btn-login" *ngIf="!isLoggedIn" type="button" (click)="login()">Anmelden</button>
  </section>
</div>