.home-container {
  display: flex;
  min-height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.portal-container {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-header {
  background-color: var(--primary);
  color: var(--primary-text);
}

.headline {
  font-size: large;
  font-weight: bolder;
  letter-spacing: 1px;
  color: white;
}